:root {
    --primary-color: #e50914;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #fff;
    max-width: 100%;
}

body {
    font-family: 'arial', sans-serif;
    -webkit-font-smoothing: antialiased;
    background: #000;
    color: rgb(219, 219, 219);
    scroll-behavior: smooth;
}

ul {
    list-style: none;
}

h1,
h2,
h3,
h4 {
    color: white;
}

a {
    color: white;
    text-decoration: none;
}

p{
    margin: 0.5rem 0;
}

.showcase{
    width: 100%;
    position: relative;
    background: rgba(0,0,0, 0.45) ;
    border-bottom: 0.75rem solid rgba(200, 200, 200, 0.1);
    scroll-behavior: smooth;
}

.showcase_after{
    background: url(images/netflix-bg.jpg) no-repeat center center/cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}

.showcase-top{
    width: 100%;
    padding: 25px 5%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(rgba(0,0,0), rgba(0,0,0), rgba(0,0,0,0.8), rgba(0,0,0,0));
    z-index: 3;
}

.btn{
    display: inline-block;
    background: var(--primary-color);
    color: #fff;
    padding: 0.4rem 1.3rem;
    font-size: 1rem;
    text-align: center;
    border: none;
    cursor: pointer;
    outline: none;
    box-shadow: 0 1px rgba(0,0,0, 0.45);
    border-radius: 2px;
}

.btn:hover{
    opacity: 0.9;
}

.btn-rounded{
    border-radius: 2px;
}

.btn-xl{
    font-size: 16px;
    padding: 5.6px 16px;

}

#GetStarted {
    /* margin: 30px auto; */
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    width: fit-content;
}

#GetStarted svg{
    margin: 5px;
}

#GetStarted span {
    padding: 5.6px 0px;
}

.showcase-top svg{
    font-size: 16px;
    height: 1.5rem;
}

.showcase-top a{
    display: inline-block;
    font-size: 0.85rem;
    font-weight: 400;
    padding: 5px 9px;
}

.showcase-top a p{
 margin: 0;
}

.showcase-content{
    height: 100vh;
    padding-top: 35vh ;
    padding-bottom: 50px;
    margin: auto;
    text-align: center;
    max-width: 92vw;
    z-index: 3;
}

.showcase-content h1 {
    font-size: 1.75rem;
}

.showcase-content > h1 + p{
    font-size: 1.35rem;
    margin: 5vh auto;

}

.showcase-content > h1 + p + p , .sections p{
    font-size: 1rem;
    margin: 4vh auto;
}

.showcase-content a {
    font-size: 1.25rem;
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.showcase-content a svg{
    height: 0.8rem;
}

.sections{
    display: flex;
    flex-wrap: wrap;
    padding: 2.3rem  3.5vw;
    /* background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.358), rgba(0,0,0,0.7)); */
    border-bottom: 0.5rem solid rgba(200, 200, 200, 0.1);  margin: auto;
    text-align: center;
    max-width: 100vw;
    z-index: 3;

}

#section2, #section4{
    flex-wrap: wrap-reverse;
}

.sections h1{
    font-size: 26px;
}

.sections img {
    max-width: 100%;
}

footer{
    width: 100vw;
    margin-top: 2.3rem;
}

footer h1{
    margin: 1.5rem 3.5vw;
    text-align: center;
    font-size: 26px;
}

.faq-containers{
    max-width: 750px;
    margin:auto;
    width: 100%;
    display: block;
    border-bottom: 5px solid black;
}

.faq-containers div, .faq-containers button{
    width: 100%;
    background-color: rgba(200, 200, 200, 0.1);
    padding: 21.60px 14.40px ;
    font-size: 18px;
}

.faq-containers p{
    padding: 0;
    margin: 0;
}

.faq-containers.show hr {
    position: relative;
    width: 100%;
    border: 0.1px solid var(--primary-color);
    transition: all 0.3s linear;
}

.faq-containers.hide hr{
    width: 0px;
    border: 0px solid var(--primary-color);
    transition: all 0.25s linear;
}

.faqs{
    width: 100%; 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.faq-containers.hide .ans{
    opacity: 0;
    overflow: hidden;
    position: absolute;
    transition: all 0s;
    max-height: 0px;
    font-size: 18px;
}

.faq-containers.show .ans {
    opacity: 1;
    max-height: 10000px;
    position: relative;
    -webkit-transition:all 0.25s;
    -moz-transition: all 0.25s;
    -ms-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: max-height 7s linear, opacity 0.25s linear;
    font-size: 18px;
    transform: translateY(0px);
}

.faq-containers.show button svg{
    transform: rotate(-135deg);
    transition: all 0.35s linear;
}

.faq-containers.hide button svg{
    transform: rotate(0deg);
    transition: all 0.25s linear;
}

.faq-containers.show button path{
    color: #e50914;
}

button, button:hover, button:focus, button:active{
    border: none;
}
@media (min-width: 750px){
    .sections .text-container{
        max-width: 50%;
    }
    .sections{
        flex-wrap: nowrap !important;
        justify-content: space-between;
        align-items: center;
    }
    #section1, #section3 {
        text-align: right;
    }
    #section2, #section4{
        text-align: left;
    }
}

@media (min-width: 550px) and (max-width: 949px){
    .showcase-top a{
        font-size: 0.85rem;
        padding: 7px 14.3px;
    }
    .showcase-content > h1 + p{
        font-size: 1.625rem;
    }
    .showcase-content > h1 + p + p, .sections p{
        font-size: 1.4rem;
    }
    .showcase-content h1, .sections h1, footer h1{
        font-size: 3.125rem;
    }
    .showcase-top svg {
        height: 2rem;
    }
    .showcase-content a span{
        font-size: 1.25rem;
        padding: 0.25rem 0.35rem;
    }
    .showcase-content a svg{
        height: 1.2rem;
    }
}

@media (min-width: 950px) and (max-width: 1449px){
    .showcase-top a{
        font-size: 1.01rem;
        padding: 8px 17px ;
    }
    .showcase-content > h1 + p{
        font-size: 2rem;
    }
    .showcase-content > h1 + p + p, .sections p{
        font-size: 1.5rem;
    }
    .showcase-content h1,.sections h1, footer h1 {
        font-size: 3.5rem;
    }
    .showcase-top svg {
        height: 2.25rem;
    }
    .showcase-content a span{
        font-size: 1.5rem;
        padding: 0.3rem 0.5rem;
    }
    .showcase-content a svg{
        height: 1.25rem;
    }
}

@media (min-width: 1450px){
    .showcase-top a{
        font-size: 2.95rem;
    }
    .showcase-content h1, .sections h1, footer h1{
        font-size: 6rem;
    }
    .showcase-content > h1 + p{
        font-size: 4rem;
    }
    .showcase-content > h1 + p + p, .sections p{
        font-size: 3rem;
    }
    .showcase-top svg {
        height: 3rem;
    }
}




