:root {
    --primary-color: #e50914;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #fff;
}

body {
    font-family: 'arial', sans-serif;
    -webkit-font-smoothing: antialiased;
    background: #000;
    color: rgb(219, 219, 219);
    scroll-behavior: smooth;
}

ul {
    list-style: none;
}

h1,
h2,
h3,
h4 {
    color: white;
}

a {
    color: white;
    text-decoration: none;
}

p{
    margin: 0.5rem 0;
}

.showcase{
    width: 100%;
    position: relative;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(14, 14, 14, 0.2), rgba(0,0,0,0.7));
    border-bottom: 0.75rem solid rgba(200, 200, 200, 0.1);
    scroll-behavior: smooth;
}

.showcase_after{
    background: url(images/netflix-bg.jpg) no-repeat center center/cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}

.showcase-top{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background: linear-gradient(rgba(0,0,0), rgba(0,0,0), rgba(0,0,0,0.8), rgba(0,0,0,0));
    z-index: 3;
}

.showcase-top img{
    width: 40vw;
}

.showcase-top a{
    display: inline-block;
    padding: 0.1rem 0.75rem;
}
.showcase-top a span{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn{
    display: inline-block;
    background: var(--primary-color);
    color: #fff;
    padding: 0.4rem 1.3rem;
    font-size: 1rem;
    text-align: center;
    border: none;
    cursor: pointer;
    outline: none;
    box-shadow: 0 1px rgba(0,0,0, 0.45);
    border-radius: 2px;
}

.btn:hover{
    opacity: 0.9;
}

.btn-rounded{
    border-radius: 5px;
}

.btn-xl{
    font-size: 2rem;
    padding: 0.8rem 1.3rem;
    text-transform: uppercase;
}

.showcase-content{
    padding-top: 20vh ;
    padding-bottom: 7vh;
    margin: auto;
    text-align: center;
    max-width: 92vw;
    z-index: 3;
}

.showcase-content h1 {
    font-size: 3rem;
}

.showcase-content p, .sections p{
    font-size: 1.25rem;
    margin: 3vh auto;
}

.showcase-content a {
    font-size: 1.25rem;
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sections{
    padding: 2.3rem  3.5vw;
    /* background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.358), rgba(0,0,0,0.7)); */
    border-bottom: 0.5rem solid rgba(200, 200, 200, 0.1);  margin: auto;
    text-align: center;
    max-width: 100vw;
    z-index: 3;

}

.sections h1{
    font-size: 2rem;
}

.sections img {
    max-width: 100%;
}

footer{
    width: 100vw;
    margin-top: 2.3rem;
}

footer h1{
    margin: 1.5rem 3.5vw;
    text-align: center;
    font-size: 1.5rem;
}

.faq-containers{
    width: 100%;
    display: block;
    border-bottom: 5px solid black;
}

.faq-containers div, .faq-containers button{
    width: 100%;
    background-color: rgba(200, 200, 200, 0.1);
    padding: 1.25rem;
    font-size: 1rem;
}

.faq-containers hr {
    position: relative;
    border: 0.25px solid black;
}

.faqs{
    width: 100%; 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.faq-containers.hide .ans{
    opacity: 0;
    overflow: hidden;
    position: absolute;
    transition: all 0s;
    max-height: 0%;
    transform: translateY(-15px);
}

.faq-containers.show .ans {
    opacity: 1;
    height: 100%;
    position: relative;
    -webkit-transition:all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s linear;
    transform: translateY(0px);
}

.faq-containers.show button svg{
    transform: rotate(-135deg);
    transition: all 0.5s linear;
}

.faq-containers.hide button svg{
    transform: rotate(0deg);
    transition: all 0.25s linear;
}

button{
    border: none;
}




